<div id="main" ng-click="markSongInPlaylist(null, $event)" class="container-fluid" style="height: {{ height }}px">
  <div class="row">
    <div class="col-xs-12">
      <div ng-show="state.playlist.length === 0" class="panel panel-default">
        <div class="panel-body">
          Drop here some .IT, .XM, S3M, .MOD files or click “Add file(s)”.
        </div>
      </div>
      <table ng-show="state.playlist.length > 0" id="playlist" class="table table-condensed table-hover">
        <thead>
          <tr>
            <th class="col-xs-1"></th>
            <th class="col-xs-1" style="text-align:left;"><small>#</small></th>
            <th class="col-xs-5" style="text-align:center;"><small>SONG</small></th>
            <th class="col-xs-4"><small>FILENAME</small></th>
            <th class="col-xs-1"><small>TIME</small></th>
          </tr>
        </thead>
        <tbody>
          <tr
            ng-repeat="song in state.playlist"
            ng-click="markSongInPlaylist($index, $event)"
            ng-dblclick="playSongInPlaylist($index)"
            ng-right-click="showOptions($index, $event)"
            ng-class="{ marked_row: ($index === state.current_song_index_marked), active_row: ($index === state.current_song_index) }"
            >
              <td style="text-align:center;"><span ng-show="$index === state.current_song_index" class="glyphicon glyphicon-volume-down"></span></td>
              <td style="text-align:left;">{{ $index + 1 }}</td>
              <td style="text-align:center;">{{ song.name }}</td>
              <td>{{ song.filename }}</td>
              <td>{{ song.metadata.duration | mmss }}</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="5"><small>Total songs: {{ state.playlist.length }}</small></td>
          </tr>
        </tfoot>
      </table>
    </div>
    <div style="text-align: center">
      <button class="btn btn-default" ng-click="addFilesToPlaylist()">
        <span class="glyphicon glyphicon-file"></span>
        Add file(s)
      </button>
      <input style="display: none;" id="addFilesToPlaylistHidden" type="file" nwworkingdir="{{basedir}}" multiple accept=".mod,.s3m,.xm,.it,.mptm,.stm,.nst,.m15,.stk,.wow,.ult,.669,.mtm,.med,.far,.mdl,.ams,.dsm,.amf,.okt,.dmf,.ptm,.psm,.mt2,.dbm,.digi,.imf,.j2b,.gdm,.umx,.mo3,.xpk,.ppm,.mmcmp">
    </div>

  </div>
  <!--
  <div class="row">
    <div class="col-xs-12">
    </div>
  </div>
  -->
</div>
