<div ng-controller="cmodPlaylistCtrl" id="main" class="container-fluid" style="height: {{ height }}px">
  <div class="row">
    <div class="col-xs-12">
      <div ng-show="state.playlist.length === 0" class="panel panel-default">
        <div class="panel-body">
          Drop here some .IT, .XM, S3M, .MOD files.
        </div>
      </div>
      <table ng-show="state.playlist.length > 0" id="playlist" class="table table-condensed table-hover">
        <thead>
          <tr>
            <th class="col-xs-1"><small>#</small></th>
            <th class="col-xs-6"><small>SONG</small></th>
            <th class="col-xs-4"><small>FILENAME</small></th>
            <th class="col-xs-1"><small>TIME</small></th>
          </tr>
        </thead>
        <tbody>
          <tr
            ng-repeat="song in state.playlist"
            ng-click="playSongInPlaylist($index)"
            ng-right-click="showOptions($index, $event)"
            ng-class="{ selected_song: ($index === state.current_song_index) }"
            >
              <td>{{ $index + 1 }}</td>
              <td>{{ song.name }}</td>
              <td>{{ song.filename }}</td>
              <td>{{ song.metadata.duration | mmss }}</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="4"><small>Total songs: {{ state.playlist.length }}</small></td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
  <!--
  <div class="row">
    <div class="col-xs-12">
    </div>
  </div>
  -->
</div>
