<div ng-controller="cmodHeaderCtrl" id="header" class="navbar navbar-default">

  <div class="container-fluid">
    <div class="navbar-header">
      <span id="brand" class="navbar-brand">cmod3</span>
    </div>

    <div class="collpase navbar-collapse">
      <ul class="nav navbar-nav">
        <li ui-sref-active="active"><a ui-sref="playlist">Playlist</a></li>
        <li ui-sref-active="active"><a ui-sref="modarchive">Modarchive</a></li>
        <li ui-sref-active="active"><a ui-sref="info">Info</a></li>
        <li>
          <div id="vus">
            <div id="vuleft" class="vu">
              <div class="vu_overlay" style="transform: scaleX({{ vuleft }})"></div>
            </div>
            <div id="vuright" class="vu">
              <div class="vu_overlay" style="transform: scaleX({{ vuright }})"></div>
            </div>
          </div>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button">More <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a ui-sref="settings">Settings</a></li>
            <li><a ng-click="devConsole()">Console</a></li>
            <li><a ng-click="minimize()">Minimize</a></li>
            <li><a ng-click="close()">Close</a></li>
            <li class="divider"></li>
            <li><a href="#">Donate</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
